# OSX
#
.DS_Store
config.json
package.json
package-lock.json
# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
.node_modules/

# Bundle artifacts
*.jsbundle
node_modules

